name: ppx_spice build linux

on: [workflow_dispatch]

jobs:
  build_linux:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: src
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        ocaml-compiler:
          - 4.14.0
    container:
      image: ocaml/opam:ubuntu-20.04-ocaml-4.14
      options: --user root

    steps:
      - uses: actions/checkout@v3

      - name: Opam init
        run: opam init -a --disable-sandboxing --compiler=4.14.0

      - name: Install deps
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build --profile static

      - name: Copy built PPX file
        run: |
          mv ./_build/default/bin/bin.exe ppx.exe

      - name: (only on release) Upload artifacts ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}
          path: src/ppx.exe
          if-no-files-found: error
